/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.relative {
    position: relative;
}

.flex {
    display: flex;
}

body {
    font-family: 'Lato', sans-serif;
}

main {
    background-color: black;
    height: 100vh;
    padding-top: 80px;
}

footer {
    height: 150px;
    background-color: #222222;
}

a {
    color: white;
    text-decoration: none;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

div.cameras-container {
    margin: 0 auto;
    width: 90vw;
    height: 70vh;
    background-color: aqua;
}

nav.view-control{
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: .8rem;
}

.view-button {
    background-color: #4a4a4a;
    padding:.15rem .25rem;
    border-radius: .3rem;
    margin-left: 7px;
}