/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.relative {
    position: relative;
}

.flex {
    display: flex;
}

body {
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: black;
}

main {
    background-color: black;
    padding-top: 3vh;
}

footer {
    position: absolute;
    bottom: 0;

    background-color: #222222;
    bottom: 0;
    width: 100vw;
    height: 70px;
    justify-content: space-between;
}

a {
    color: white;
    text-decoration: none;
    text-align: center;
}

/* a:hover {
    text-decoration: underline;
} */

div.cameras-container {
    justify-content: center;
    flex-wrap: wrap;

    margin: 0 auto;
    padding-bottom: 1rem;
    width: 90vw;
    height: 85vh;
    overflow-y: scroll;
}

nav.view-control{
    justify-content: flex-end; 
    width: 100vw;
    font-size: .8rem;
    padding: 15px 0 15px;

}

.view-button {
    background-color: #4a4a4a;
    padding:.15rem .25rem;
    border-radius: .3rem;
    margin-left: 7px;
}

img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

div.user-camera-container {
    width: calc((1500px / 7) - 30px);
    height: 130px;
    border: 3px solid black;
    /* background-color: #4a4a4a;
    background-image: url("https://picsum.photos/id/500/300");
    background-position: center;
    background-size: cover; */
}

div.user-name {
    padding: .3rem;
    background-color:rgba(0, 0, 0, 0.4);;
    display: inline-block;
    position: absolute;
    bottom: 0;
    font-size: .8rem;
}

.button {
    padding: 10px;
}

.footer-icon {
    font-size: 1.6rem;
    margin-bottom: .5rem;
}

.footer-icon-text {
    font-size: .7rem;
}

div.footer-more-options {
    font-size: .7rem;
    align-items: center;
    padding: 1rem;
}

div.footer-nav-button {
    padding: 1 1rem;
}

div.footer-end-meeting a{
    color: red;
    background-color: #4a4a4a;
    padding: 1rem;
    font-size: .7rem;
}

.green {
    color: #4bc800;
}

div.footer-end-meeting a {
    align-items: center;
}