/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.relative {
    position: relative;
}

.flex {
    display: flex;
}

body {
    font-family: 'Lato', sans-serif;
    color: white;
}

main {
    background-color: black;
    height: 100vh;
    padding-top: 80px;
}

footer {
    background-color: #222222;
    position: fixed;
    bottom: 0;
    width: 100vw;
    justify-content: space-between;
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
    text-align: center;
}

/* a:hover {
    text-decoration: underline;
} */

div.cameras-container {
    margin: 0 auto;
    width: 90vw;
    height: 70vh;
    background-color: aqua;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav.view-control{
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: .8rem;
}

.view-button {
    background-color: #4a4a4a;
    padding:.15rem .25rem;
    border-radius: .3rem;
    margin-left: 7px;
}

div.user-camera-container {
    width: calc((1500px / 7) - 18px);
    height: 150px;
    background-color: #4a4a4a;
    background-image: url("../img/img 0.jpg");
    background-position: center;
    background-size: cover;
}

div.user-name {
    padding: .3rem;
    background-color:rgba(0, 0, 0, 0.4);;
    display: inline-block;
    position: absolute;
    bottom: 0;
    font-size: .8rem;
}

.footer-video-control{
    padding-bottom: 50px;
}
.footer-icon {
    font-size: 1.6rem;
    margin-bottom: .5rem;
}

.footer-icon-text {
    font-size: .7rem;
}

div.footer-more-options {
    font-size: .7rem;
    align-items: center;
    padding: 1rem;
}

div.footer-nav-button {
    padding: 0 1rem;
}

div.footer-end-meeting a{
    color: red;
    background-color: #4a4a4a;
    padding: 1rem;
    font-size: .7rem;
}

.green {
    color: #4bc800;
}